/* Styles by Bhaumik Raja */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  /* 76.8rem = 768px for mobile */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #111;
  background-color: #f9f9f9;
}

h1,
h2,
h3 {
  font-family: "Montez", cursive;
}

/**********/
/* GENRAL REUSABLE COMPONENTS */
/**********/

.container {
  /* 1680px */
  max-width: 168rem;
  padding: 0;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

/* Styling header and nav */

header {
  position: relative;
  /* top: 2rem; */
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: f9f9f9;
  /* z-index: 999; */
  transition: background-color 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

nav li a {
  font-size: 1.6rem;
}

.logo {
  width: 20rem;
  color: #111111;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  margin-left: 2rem;
}

.nav_links li:first-child {
  margin-left: 0;
}

.nav_links a {
  text-decoration: none;
  color: #111111;
}

#cta_button_nav {
  background-color: #192631;
  padding: 1rem 3rem;
  color: #f9f9f9;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 3rem;
}

/* ----------- Hero Section styles ----------- */
.hero {
  height: 100vh;
  /* Image source/credit: Unsplash -  https://unsplash.com/photos/ruWkmt3nU58 */
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.8)
    ),
    url("../Images/icelandhero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 9.6rem;
  font-weight: 500;
  color: #f9f9f9;
}

.hero_subheading {
  color: #f9f9f9;
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 70vw;
  margin: 2.4rem auto 1.6rem auto;
  font-weight: 400;
}

.cta_button {
  display: inline-block;
  background-color: #f9f9f9;
  color: #111111;
  padding: 2rem 6rem;
  border-radius: 3rem;
  margin-top: 2rem;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.6rem;
}

/* ------------ Achivement Section ---------- */

.achievement_section {
  background-color: #192631;
  padding: 6rem 2rem;
}

.achievement_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #f9f9f9;
}

.achievement_heading {
  font-size: 4.8rem;
}

.achievement_text {
  font-size: 2.4rem;
  margin-top: 1.4rem;
}

/*  */

.featured_section div h2 {
  margin-top: 3rem;
}

/* ******* About Us Page ******* */

.about_hero {
  height: 100vh;
  /* Image: https://unsplash.com/photos/nnzkZNYWHaU */
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.8)
    ),
    url("../Images/eiffeltower.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about_hero h1 {
  font-size: 9.6rem;
  font-weight: 500;
  color: #f9f9f9;
}

.about_hero_subheading {
  color: #f9f9f9;
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 90vw;
  margin: 2.4rem auto 1.6rem auto;
  font-weight: 400;
}

.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 12rem 0;
  grid-gap: 6rem;
  padding: 2rem 8rem;
}

.about_imagebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.about_imagebox img {
  width: 100%;
  display: block;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image_one {
  grid-row: 1 / span 2;
  align-self: center;
}

.about_textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 3rem;
}

.about_text {
  font-size: 1.8rem;
  line-height: 1.4;
}

.about_heading {
  font-size: 7.2rem;
}

.about_highlight {
  font-weight: 500;
}

/* --------- About Image Destinations Section ----------- */

.about_images_section {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.about_images_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 140rem;
  margin: 0 auto;
  row-gap: 3rem;
}

.about_images_headingbox {
  margin-bottom: 4.2rem;
}

.about_images_heading {
  font-size: 4.2rem;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.image_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image_item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(115, 175, 186, 0.851);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  transition: opacity 0.3s;
}

.image_item:hover .image_overlay {
  opacity: 1;
}

.destinations_button_area {
  background-color: #192631;
  padding: 1.5rem 4rem;
  color: #f9f9f9;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 3rem;
}

/* -------- Footer Section -------- */

footer {
  background-color: #192631;
  color: #fff;
  padding: 8rem 8rem;
}

.footer_section {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-gap: 1rem;
  text-align: left;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 1 / span 2;
}

.footer_logo img {
  width: 24rem;
  margin-bottom: 2rem;
}

.social_icons {
  display: flex;
  gap: 1rem;
}

.social_icons a img {
  width: 4rem;
}

.footer_links_column ul {
  list-style: none;
}

.footer_links_column ul li {
  margin-bottom: 2rem;
  line-height: 1.4;
}

.footer_links_column ul li a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.6rem;
  font-weight: 500;
}

/* ============================ */
/* Responsiveness - Home page hero, footer and About Us Page - Bhaumik Raja*/
/* ============================ */

@media (max-width: 76.8rem) {
  /* Navigation */
  .logo {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin: 0 auto;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
  }

  .nav_links {
    flex-direction: column;
    text-align: center;
  }

  .nav_links li {
    margin: 1rem 0;
  }

  #cta_button_nav {
    display: block;
    margin: 1rem auto;
  }

  /* ----------- Hero Section ------------ */

  .hero h1 {
    font-size: 5.6rem;
    line-height: 1.1;
    max-width: 90vw;
  }

  .hero_subheading {
    color: #f9f9f9;
    font-size: 1.6rem;
    line-height: 1.4;
    max-width: 86vw;
    margin: 2rem auto 1.2rem auto;
    font-weight: 400;
  }

  .cta_button {
    display: inline-block;
    background-color: #f9f9f9;
    color: #111111;
    padding: 2rem 4rem;
    border-radius: 3rem;
    margin-top: 2.4rem;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1.6rem;
  }

  /* -------------- Achievement Section ------------  */

  .achievement_section {
    background-color: #192631;
    padding: 6rem 2rem;
  }

  .achievement_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 1rem;
  }

  .achievement_heading {
    font-size: 3.2rem;
  }

  .achievement_text {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.3;
  }

  /* ****** About Us Page ******* */

  .about_container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 8rem 0;
    grid-gap: 4rem;
    padding: 2rem 4rem;
  }

  .about_imagebox {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .about_textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2rem;
  }

  .about_text {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .about_heading {
    font-size: 4.2rem;
  }

  /* Destination about section */

  .about_images_section {
    margin-top: 0rem;
  }

  .about_images_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 140rem;
    margin: 0 auto;
    row-gap: 2rem;
    padding: 0rem 4rem;
  }

  .about_images_headingbox {
    margin-bottom: 4.2rem;
  }

  .about_images_heading {
    font-size: 4.2rem;
  }

  .image_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }

  .destinations_button_area {
    background-color: #192631;
    padding: 1rem 3rem;
    color: #f9f9f9;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3rem;
  }

  /* ------- Footer Section ---------- */

  .footer_section {
    grid-template-columns: 1fr;
  }

  .footer_logo {
    grid-row: auto;
  }

  .social_icons {
    justify-content: center;
  }

  .footer_links_column {
    text-align: center;
  }

  .footer_logo {
    align-items: center;
    order: 1;
  }

  .footer_logo img {
    width: 20rem;
    margin-bottom: 2rem;
  }

  .social_icons {
    gap: 0.8rem;
  }

  .social_icons a img {
    width: 4rem;
  }

  .footer_links_column ul {
    list-style: none;
  }

  .footer_links_column ul li {
    margin-bottom: 1.8rem;
    line-height: 1.3;
  }

  .footer_links_column ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

/* ********************************************************
********************************************************
Ashwin Prakash Vallomparambath Panikkassery
********************************************************
******************************************************** */

/* ----------------------------------------------- */
/* ----------Section 4 Testimonials Styles-------- */
/* ----------------------------------------------- */

.special_container {
  margin: 12rem 0;
}

.section_4_heading {
  font-size: 7.2rem;
  text-align: center;
  padding-bottom: 1rem;
  /* margin: 12rem 0; */
}

.testimonials_subtext {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3%;
}

.review-table {
  border-collapse: separate;
  width: 100%;
}

.review-table th {
  text-align: left;
}

.testimonials_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 0rem 8rem;
}

.testimonials_column {
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}

.rating_stars {
  width: 50%;
  height: auto;
  padding-bottom: 2%;
}

.review {
  font-weight: lighter;
  font-style: oblique;
  line-height: 1.4;
}

.reviewer {
  padding-top: 3%;
  font-weight: bold;
}

.reviwer_country {
  padding-top: 1%;
}

/* ----------------------------------------------- */
/* ------------Section 5 Gallery Styles----------- */
/* ----------------------------------------------- */

.gallery_section {
  margin: 12rem 0;
}

.section_5_container {
  max-width: 168rem;
  padding: 0;
  margin: 0 auto;
}

.section_5_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 13vw);
  grid-gap: 1.5rem;
  padding: 2rem 8rem;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery_item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item_3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery_item_4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery_item_5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery_item_6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.section_5_heading {
  text-align: center;
  font-size: 7.2rem;
  margin-bottom: 42px;
  /* margin-top: 42px; */
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.show-more-button {
  background-color: #192631;
  padding: 1.5rem 4rem;
  color: #f9f9f9;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 3rem;
}

.section_5_button {
  text-align: center;
}

/* ------------------------------------------- */
/* ----------- Contact Page Styles ----------- */
/* ------------------------------------------- */

/* ----------- Hero Section Styles ----------- */

.contact_hero {
  height: 100vh;
  /* Image: https://unsplash.com/photos/qJvpykJ5SKs */
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.8)
    ),
    url("../Images/mountains.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact_hero h1 {
  font-size: 9.6rem;
  font-weight: 500;
  color: #f9f9f9;
}

.contact_hero_subheading {
  color: #f9f9f9;
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 90vw;
  margin: 2.4rem auto 1.6rem auto;
  font-weight: 400;
}

/* ----------- Contact Section Styles ----------- */

.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
  padding: 2rem 8rem;
}

.form_column_1 {
  display: flex;
  grid-row: span 2;
  background-color: #e3e9ed;
  place-items: center;
  border-radius: 5px;
}

form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 5rem;
  font-size: 2rem;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input[type="submit"] {
  background-color: #192631;
  padding: 1.5rem 4rem;
  color: #f9f9f9;
  text-decoration: solid;
  border-radius: 3rem;
}

input[type="submit"]:hover {
  background-color: #232222;
}

.address_heading {
  font-size: 5rem;
  padding: 2% 1%;
}

.contact_heading {
  font-size: 5rem;
  padding: 3% 1%;
}

.address p,
a {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 2%;
}

.address a {
  text-decoration: none;
  padding-bottom: 2%;
}

.address {
  text-align: center;
  padding: 5% 0%;
  background-color: #d7e0e7;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* ********************************************************
********************************************************
Ashwin Prakash Vallomparambath Panikkassery
********************************************************
******************************************************** */

/* ============================ */
/* Responsiveness */
/* ============================ */

@media (max-width: 76.8rem) {
  /* ----------------------------------------------- */
  /* -------------Section 5 Gallery Styles---------- */
  /* ----------------------------------------------- */

  .gallery_section {
    margin: 6rem 0;
  }

  .section_5_heading {
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 4.2rem;
  }

  .section_5_gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 2rem 4rem;
  }

  .gallery__item {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  /* ----------------------------------------------- */
  /* ----------Section 4 Testimonials Styles-------- */
  /* ----------------------------------------------- */

  .testimonials_column {
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
  }

  .testimonials_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem;
  }

  .testimonials_column {
    flex: 0 0 calc(100% - 4rem);
    margin: 1rem;
  }

  .section_4_heading {
    font-size: 4.2rem;
  }

  .testimonials_subtext {
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  /* ----------------------------------------------- */
  /* --------------Contact Page Styles-------------- */
  /* ----------------------------------------------- */

  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
    padding: 0px;
  }

  .form_column_1,
  .address {
    margin-bottom: 2rem;
    padding: 0px;
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin: 4%;
  }

  label {
    margin: 1%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding-left: 2%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .address_heading,
  .contact_heading,
  .address p {
    font-size: 2rem;
    margin: 1%;
  }

  a {
    font-size: 1.5rem;
    margin-top: 1%;
  }

  .address {
    padding: 2% 0px 0px 2%;
  }

  .address h3 {
    font-size: xx-large;
  }

  .map {
    object-fit: contain;
    height: 30rem;
    width: auto;
  }
}

/* ********************************************************
Crystal Garcia Saviour Marshalin
******************************************************** */
/* -------------------------------------------------------------------- */
/* ----------Home page Heading2 (Embark on a global adventure)-------- */
/* ------------------------------------------------------------------- */

.section_2_heading {
  font-size: 7.2rem;
  text-align: center;
  padding-bottom: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}

.explore-section {
  position: relative;
}

.section2-explore {
  margin-top: 12rem;
  margin-bottom: 42px;
}

.section2-flex-container {
  display: flex;
  gap: 1.5rem;
  padding: 0rem 8rem;
}

.explore-flex-item {
  position: relative;
  flex: 1;
}

.explore-flex-item a {
  display: block;
  position: relative;
  height: 100%;
}

.explore-flex-item p {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 75%;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.explore-flex-item p:nth-child(3) {
  top: 85%;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
}

/* ********************************************************
Crystal Garcia Saviour Marshalin
******************************************************** */
/* ----------------------------------------------- */
/* ----------Blogs page Styles-------- */
/* ----------------------------------------------- */

/* ----------Blogs page - Hero image-------- */
.blogs-hero {
  /* Image source/https://plus.unsplash.com/premium_photo-1661886457733-2d936843cd70?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80 */
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.8)
    ),
    url("../Images/bridge.avif");
}

/* ----------Blogs grid content-------- */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px 15px;
  margin: 60px;
  grid-template-rows: 50px;
}

.grid-container img {
  width: 100%;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}

.grid-item1,
.grid-item3 {
  grid-row: 1/3;
}

.grid-item2 {
  grid-row: 1/3;
  position: relative;
  display: inline-block;
  grid-column: 2;
  cursor: pointer;
}

.grid-item2 img,
.grid-item8 img {
  height: 100%;
}

.grid-item2 p,
.grid-item4 p,
.grid-item8 p {
  position: absolute;
  top: 0%;
  padding: 60% 11% 0% 11%;
  text-align: center;
  font-size: 17px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.grid-item8 p {
  padding-top: 75%;
}

.grid-item2 p:hover,
.grid-item4 p:hover,
.grid-item8 p:hover {
  opacity: 1;
  background-color: rgb(34 35 35 / 69%);
  transition: opacity 0.3s;
}

.grid-item3 {
  grid-column: 3;
}

.grid-item4 {
  position: relative;
  cursor: pointer;
}

.grid-item4 p {
  position: absolute;
  text-align: center;
  font-size: 17px;
  color: #fff;
  letter-spacing: 1px;
}

.grid-item8 {
  grid-row: 4/6;
  position: relative;
  cursor: pointer;
}

.grid-item4,
.grid-item6 {
  grid-row: 3/5;
}

.grid-item4 img {
  height: 100%;
}

.grid-item5 {
  grid-row: 3/4;
}

.grid-item6 img {
  height: 65%;
}

.grid-item7,
.grid-item9 {
  grid-row: 5/6;
}

.grid-item7 img {
  height: 70%;
}

.grid-item9 img {
  height: 75%;
}

.title-text p:nth-child(2) {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 15px 0px;
}

.title-text p:nth-child(3) {
  padding: 0% 2% 4% 2%;
  text-align: center;
  font-size: 15px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ********************************************************
Crystal Garcia Saviour Marshalin
******************************************************** */
/* ============================ */
/* Blog page - Responsiveness */
/* ============================ */

@media (max-width: 76.8rem) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    padding: 2rem 4rem;
    margin: 0rem;
  }

  .grid-item1 {
    grid-row: 1/3;
  }

  .grid-item2 {
    grid-row: 3/5;
    grid-column: 1;
  }

  .grid-item2 p {
    padding-top: 50%;
  }

  .grid-item3 {
    grid-row: 5/7;
    grid-column: 1;
  }

  .grid-item4 {
    grid-row: 7/9;
  }

  .grid-item5 {
    grid-row: 9/10;
  }

  .grid-item6 {
    grid-row: 10/12;
  }

  .grid-item6 p:nth-child(3) {
    margin-bottom: 8rem;
  }

  .grid-item7 p:nth-child(3) {
    margin-bottom: 10rem;
  }

  .grid-item9 img {
    height: 65%;
  }

  .grid-item7 {
    grid-row: 12/13;
  }

  .grid-item8 {
    grid-row: 13/15;
  }

  .grid-item9 {
    grid-row: 15/16;
  }

  /* ------------------------------------------------------------------- */
  /* Home page Heading2 (Embark on a global adventure) - Responsiveness */
  /* ----------------------------------------------------------------- */

  .section_2_heading {
    font-size: 4.8rem;
    text-align: center;
    padding-bottom: 1rem;
    max-width: 80vw;
    margin: 0 auto;
  }

  .section2-flex-container {
    display: flex;
    gap: 1.5rem;
    padding: 0rem 2rem;
    flex-direction: column;
  }

  .explore-flex-item {
    position: relative;
    flex: 3;
  }

  .explore-flex-item p {
    top: 70%;
  }

  .explore-flex-item p:nth-child(3) {
    top: 79%;
  }

  .explore-flex-item p,
  .explore-flex-item p:nth-child(3) {
    font-size: 1.3rem;
  }
}

/* ********************************************************
***********************************************************
********************Jose Jestin****************************
***********************************************************
**********************************************************/

.hero1 {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.7),
      rgba(17, 17, 17, 0.8)
    ),
    url("../Images/coverdestinations.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

.hero1 h1 {
  font-size: 9.6rem;
  font-weight: 500;
  color: #f9f9f9;
}

.hero1_subheading {
  color: #f9f9f9;
  font-size: 1.8rem;
  line-height: 1.5;
  max-width: 70vw;
  margin: 2.4rem auto 1.6rem auto;
  font-weight: 400;
}

/* Destinations Section styles */
.dcontainer {
  max-width: 120rem;
  margin: 20px auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.destination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.destination img {
  max-width: 300px;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.destination .description {
  flex: 1;
  margin-right: 3rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.destination:nth-child(even) .description {
  margin-left: 2rem;
}

.destination h2 {
  font-family: "Montez", cursive;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.destination button {
  background-color: #192631;
  color: #fff;
  display: block;
  margin: 2rem 0;
  border: none;
  border-radius: 5rem;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.destination button.read-more {
  display: block;
  margin: 15px auto;
  font-size: 1.4rem;
}

.destination:nth-child(2) button,
.destination:nth-child(4) button {
  background-color: #000;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* ----------------------------------------------- */
/* ---------Home Page Section 3 Styles------------ */
/* ----------------------------------------------- */

.svg {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.4;
  background-color: #ffffff;
  color: #020202;
}

.M1 {
  margin-bottom: 2rem;
  font-size: 7rem;
}

.mark1 {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}

.mark2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.mark3 {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #192631;
  border-radius: 6px;
}

.mark3 img {
  max-width: 10rem;
  margin: 0 auto 10px;
}

.mark3 h2.M1 {
  margin-top: 0;
  font-size: 2.8rem;
}

.mark3 p {
  margin: 0;
  font-size: 1.4rem;
}

/* ********************************************************
***********************************************************
********************Jose Jestin****************************
***********************************************************
**********************************************************/
/* ============================ */
/* Responsiveness Destination*/
/* ============================ */

/* Navigation */
@media (max-width: 76.8rem) {
  .logo {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin: 0 auto;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
  }

  .nav_links {
    flex-direction: column;
    text-align: center;
  }

  .nav_links li {
    margin: 1rem 0;
  }

  #cta_button_nav {
    display: block;
    margin: 1rem auto;
  }

  /* Hero Section */
  .hero h1 {
    font-size: 5.6rem;
    line-height: 1.1;
  }

  .hero_subheading {
    color: #f9f9f9;
    font-size: 1.6rem;
    line-height: 1.4;
    max-width: 86vw;
    margin: 2rem auto 1.2rem auto;
    font-weight: 400;
  }

  .cta_button {
    display: inline-block;
    background-color: #f9f9f9;
    color: #111111;
    padding: 2rem 4rem;
    border-radius: 3rem;
    margin-top: 2.4rem;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1.6rem;
  }

  /* Footer Section */
  .footer_section {
    grid-template-columns: 1fr;
  }

  .footer_logo {
    grid-row: auto;
  }

  .social_icons {
    justify-content: center;
  }

  .footer_links_column {
    text-align: center;
  }

  .footer_logo {
    align-items: center;
    order: 1;
  }

  .footer_logo img {
    width: 20rem;
    margin-bottom: 2rem;
  }

  .social_icons {
    gap: 0.8rem;
  }

  .social_icons a img {
    width: 4rem;
  }

  .footer_links_column ul {
    list-style: none;
  }

  .footer_links_column ul li {
    margin-bottom: 1.8rem;
    line-height: 1.3;
  }

  .footer_links_column ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.4rem;
    font-weight: 400;
  }

  /* Destination Section */
  .destination {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 2rem;
  }

  .destination img {
    max-width: 80%;
    height: auto;
    order: 1;
  }

  .destination .description {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
    max-width: calc(100% - 30px);
    order: 2;
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .destination .read-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }

  .destination button.read-more {
    display: block;
    font-size: 1.2rem;
    padding: 6px 12px;
  }

  .destination:nth-child(even) .description {
    margin-left: 0;
  }

  .destination h2 {
    font-size: 4rem;
    margin-top: 1rem;
  }

  /* ----------------------------------------------- */
  /* -------------Section 3  Responsive------------- */
  /* ----------------------------------------------- */

  .mark2 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .mark1,
  .mark3 {
    max-width: 90%;
    margin: 0 auto;
  }

  .mark3 img {
    margin: 0 auto 20px;
  }

  .M1 {
    font-size: 4.5rem;
  }
}
